.repo {
	background: white;
	-webkit-box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.18);
	-moz-box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.18);
	box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.1);
	border-radius: 16px;
	margin-top: 25px;
	height: 70px;
	margin-bottom: 25px;
}

.repo-list ul {
	background: transparent;
}

.repo .repo-name {
	font-weight: 500;
}

.repo .repo-url {
	margin-top: 0px;
	display:  block;
	font-size: 11px;
	color: #8e8e93;
	font-weight: 400;
}

.repo .repo-packages {
	margin-top: -21px;
	display:  block;
	font-size: 13px;
	color: #8e8e93;
	font-weight: 400;
}