.navbar, .toolbar {
	background: white;
	-webkit-box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.1);
	border-radius: 13px;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
}

.navbar:after, .toolbar:before {
	display: none;
}

.content-block {
	border-radius: 13px;
}

.content-block-inner {
	background: white;
	border-radius: 16px;
	-webkit-box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.1);
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	left: 50%;
	transform: translateX(-50%);
}

.content-block-inner:after, .content-block-inner:before, .list-block .item-inner:after  {
    background-color: transparent;
}

.repo {
	background: white;
	-webkit-box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.1);
	border-radius: 16px;
	margin-top: 25px;
	height: 70px;
	margin-bottom: 25px;
}

.repo-list ul {
	background: transparent;
}

.repo .repo-name {
	font-weight: 500;
}

.repo .repo-url {
	margin-top: 0px;
	display:  block;
	font-size: 11px;
	color: #8e8e93;
	font-weight: 400;
}

.repo .repo-packages {
	margin-top: -21px;
	display:  block;
	font-size: 13px;
	color: #8e8e93;
	font-weight: 400;
}